body, html {
  font-family: monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #111;
  overflow: hidden;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#s-load {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  background: #fff2;
  color: #eee;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 72px;
  cursor: pointer;
}

#m-top {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: #222;
  border-radius: 0px;
  transition: margin-left 0.4s ease, background 0.4 ease, border-radius 0.4 ease;
}

.mfr {
  width: calc(100% - 24px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  text-align: start;
  border: none;
  margin: none;
}

.mfa {
  flex: 1;
    padding: 8px;
}
.mfb {
  flex: 3;
    padding: 8px;
}

div.mfb {
  color: #eee;
  background: #333;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}

select.mfa {
  vertical-align: middle;
  background: transparent;
  color: #eee;
  border: none;
  outline: none;
  padding: 8px;
  margin: none;
  border-radius: 8px;
  font-size: 9px;
  font-weight: bold;
  cursor: pointer;
}

select.mfa option {
  background: #444;
  color: #eee;
}

#m-top.hidden {
  margin-left: calc(-100% - 12px);
  background: #800;
  border-radius: 8px;
}
